// Color Variables
$primary-color: #0D47A1;
$contrast-color: adjust-color($primary-color, $hue: 270deg, $saturation: 30, $lightness: 10);
$primary-dark: darken($primary-color, 8%);
$dark-grey: #333;
$light-grey: #888;
$light-text: lighten($primary-color, 55%);

/* INTRODUCTION */
.disable-scroll {
  overflow: hidden;
}

.load-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: $primary-dark;
  z-index: 1000;


  .prelabel {
    font-weight: bold;
  }

  .typed-strings {
    display: none;
  }

  * {
    color: $light-text;
  }

  .loader {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
  }

  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// Styles
* {
  box-sizing: border-box;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.light-text {
  color: $light-text;
}

.contrast-bg {
  background-color: $contrast-color !important;
}

.light-bg {
  background-color: $light-text !important;
}

.primary-color {
  background: $primary-color;
}

.primary-dark {
  background: $primary-dark;
}

a {
  color: $primary-color;
}

/* Footer */
main .row, footer.page-footer {
  margin: 0;
}

footer.page-footer {
  background-color: $primary-dark;

  .container {
    width: 98%;
  }
}

/* SIDEBAR */
#side-nav {
  margin-bottom: 0;
  padding: 0;
}

.portrait {
  margin-top: 0;
  overflow-y: visible;
}

/* Mini Sidebar mode */
#side-nav.mini {
  position: fixed;

  .card.portrait {
    background-color: $primary-dark !important;

    img {
      border-radius: 50%;
      width: 120px;
      margin: 10px 10px 10px calc(100% - 130px);
    }
    .portrait-wrapper {
      background-image: none;
    }
  }
}

.card.portrait * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Remove portrait card shadow from materialize */
.card.portrait,
.main-nav-wrapper > .collapsible,
#side-nav .card-panel,
#side-nav .card.portrait,
.facts-wrapper > .collapsible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.portrait-wrapper {
  position: absolute;
  bottom: 7px;
  left: 0;
  padding: 20px 20px 30px 19%;
  display: block;
  width: 100%;
  color: white;
  background: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: -ms-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

h5.side {
  font-size: 110%;
}

.facts-wrapper {
  margin-top: 0;

  &:last-child {
    position: relative;
    margin-bottom: 50px;
    bottom: 0;
  }

  .facts-content-col {
    padding-right: 0;
  }

  a {
    color: $light-text;
  }

  p {
    margin-top: -10px;
    padding: 16px 0;
    font-size: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 300;
    line-height: 180%;
    width: 100%;
  }

  .facts-about {
    padding-right: 30px;

    a {
      text-decoration: underline;
    }
  }

  .fact-icon {
    padding-right: 0;
  }

  span {
    display: block;
    line-height: 160%;
  }

  .facts-content-lg {

    font-size: 120%;
    font-weight: 400;
  }

  .facts-content-sm {

    font-size: 90%;
    padding-bottom: 10px;
  }

}

/* MAIN PANEL AREA */
#main-panel .card-panel {
  margin: 30px;
  color: $dark-grey;

  p {
    color: $light-grey;
    font-weight: 300;
  }

  h4 {
    font-weight: 500;
    font-size: 160%;
    color: $dark-grey;
  }

  h5 {
    font-size: 100%;
    color: lighten($primary-color, 40);
    text-transform: uppercase;
    margin: 2rem 0 0 0;
  }

  h6 {
    font-size: 80%;
    color: $light-grey;
    text-transform: uppercase;
  }

  hr {
    border: 0;
    height: 2px;
    background-color: #eee;
    margin: 30px -32px 30px 0;
  }
}

.chips {
  position: absolute;
  bottom: 15px;
  margin-right: 20px;

  .chip {
    margin-bottom: 5px;
  }
}

.chip {
  display: inline-block;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 28px;
  padding: 0 9px;
  border-radius: 14px;
  background-color: #e4e4e4;
}

.card-anchor {
  color: $light-grey;
  padding-left: 5px;
  &:hover {
    color: $dark-grey;
  }
}

// Projects Wrapper
#projects {
  .header {
    margin-bottom: 0 !important;
  }

  .content {
    margin-top: 0 !important;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
  }

  .card a {
    margin: 0;
    color: $primary-color;
  }
}

// Professional Styles
.experience {
  margin: 0;
  padding: 0;

  * {
    font-weight: 500;
    color: lighten($dark-grey, 20);
  }

  .duration {
    color: lighten($dark-grey, 45);
  }

  .col {
    padding: 0;
  }
}

// Skills
.skill {

  .label {
    font-size: 80%
  }

  .slider {
    height: 0;
    display: block;
    position: relative;
    z-index: 1;
    font-size: 0.8rem;
    color: $primary-dark;
  }

  .progress, .determinate {
    height: 2px;
  }

  .determinate {
    background-color: $primary-dark !important;
  }
}

// Handle HD Screens
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  * {
    font-size: 99%;
  }
}

// Handle Medium IPad Type Screens
@media (min-width: 600px) and (max-width: 991px) {

  h4 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 0.825rem;
    line-height: 0;
  }

  #main-panel .card-panel {
    h4 {
      font-size: 3.5vw;
      line-height: 4.5vw;
    }

    h5 {
      font-size: 2.5vw;
      line-height: 3.5vw;
    }

    h6 {
      font-size: 2.0vw;
      line-height: 2.5vw;
    }
  }
}

// Handle Mobile
@media (max-width: 600px) {

  .load-wrapper * {
    font-size: 2rem;
  }

  #side-nav {
    height: auto;
  }

  #main-panel {
    padding: 0;

    .card-panel {
      margin: 10px 0 30px;
      color: #333;
    }
  }

  #projects .content {
    margin-left: 0;
    margin-right: 0;
  }
}
