//- work
.col.s12.job
    h4 #{locals.research.label}
    each item in locals.research.items
        .row.experience
            .col.l9.s12
                a( href= '#{item.link}', target= '_blank') #{item.title}
        p !{item.description}