.card-panel
    h4 #{locals.research.label}
    each item in locals.research.items
        .row.experience
            .col.l12.s12
                a(href=item.link, target='_blank', rel='noopener') #{item.title}
            p !{item.description}