.load-wrapper.valign-wrapper
    .loader.valign.center
        h1.prelabel(data=locals.introduction.prelabel)
        h1.label(data=locals.introduction.label)
        .typed-strings
            each item in locals.introduction.items
                span #{item}
