#main-panel.col.s12.m7.l8

    //- Experience    
    include cards/_experience

    //- Skills
    include cards/_skills

    //- Research
    include cards/_research

    //- Education
    include cards/_education

    #projects
        
        include cards/_projects_title

        include cards/_projects

    include _footer