#main-panel.col.s12.m7.l8
    //- Experience
    .card-panel
        .row
            include cards/_experience

    //- Skills
    .card-panel
        .row
            include cards/_skills

    #projects
        .card-panel.header
            .row
                include cards/_projects_title

        .row.content
            include cards/_projects