
#side-nav.col.s12.m5.l4.primary-color.z-depth-2

    //- Card Portrait
    include sidebar/_portrait_card

    //- Facts Area
    .facts-wrapper.light-text

        //- Summary
        .row
            include sidebar/_summary

        //- Contact
        .row
            include sidebar/_contact

        .row
            include sidebar/_location