//- phone
.col.s2.right-align.fact-icon
    h5: i.material-icons.small call
.col.s10.facts-content-col
    h5.side #{locals.contact.label}
    p.side
        each contact in locals.contact.items
            i( class= ['fa', 'tiny', '#{contact.icon}']) &nbsp;&nbsp;
            a( href= '#{contact.href}', target= (contact.blank ? '_blank' : '_self')) #{contact.value}
            br