//- location
.col.s2.right-align.fact-icon
    h5: i.material-icons.small place
.col.s10.facts-content-col
    p.side
        a( href= 'http://maps.google.com/maps?q=' + locals.address.country + '+' + locals.address.state + '+' + locals.address.city, target= '_blank')
            span.facts-content-lg
                | #{locals.address.city}, #{locals.address.state}
            span.facts-content-sm #{locals.address.country}